// _config.scss

// Grid settings
$container: 980px;

// Typography
$baseFontSize: 14px;
$baseLine: 22px;

// Font families
$baseFont: "Open Sans", sans-serif;
$secondFont: "PTSansBold", sans-serif;

// Colors
$mainBg: #fff;
$secondaryBg: #dcdcdc;
$darkBg: #777;
$darkFadedBg: #767676;

$baseTextColor: #767676;
$textOnDarkBg: #fff;
