//- footer.jade
footer.l-footer
  .l-container
    p.l-footer_copy &copy; 2012-2016 ЗАО &laquo;Компания&raquo;
      br
      a.l-footer_mail(href="mailto:info@name.ru") info@name.ru
    ul.l-footer_menu
      li.l-footer_item
        a.l-footer_link(href="#") Главная
      li.l-footer_item
        a.l-footer_link(href="#") Каталог
      li.l-footer_item
        a.l-footer_link(href="#") Доставка и оплата
      li.l-footer_item
        a.l-footer_link(href="#") Прайс-лист
      li.l-footer_item
        a.l-footer_link(href="#") Контакты
    p.l-footer_companyInfo
      a.l-footer_link Разработка сайта
      | 
      | &mdash;
      br
      | компания &laquo;Шнайдер Консалт&raquo;
