//- header.jade
header.l-header
  .l-container
    img.l-header_logo(src="images/icons/logo.png", alt="Название компании логотип")
    p.l-header_quote Распродажа до 
      span#date !
    .l-header_contact
      a.l-header_phone(href="tel:+7343-252-52-52") +7 (343) 252-52-52
      a.l-header_phone(href="tel:+7343-252-52-52") +7 (343) 252-52-52
