//- header.jade

// 
  .message.isNotActive#operamini(style={display: 'none'})
  p Извините, но этот сайт не поддерживает Opera Mini. Пожалуйста используйте другой браузер.

<!--[if lte IE 6]>
<div class="message">
<p>Извините, но этот сайт не поддерживает Internet Explorer 6 и ниже. Пожалуйста обновите ваш браузер или <a href="http://browsehappy.com/">воспользуйтесь другим</a>.</p>
</div>
<![endif]-->

header.l-header
  .l-container
    img.l-header_logo(src="images/icons/logo.png", alt="Название компании логотип")
    p.l-header_quote Распродажа до 
      span#date !
    .l-header_contact
      a.l-header_phone(href="tel:+7343-252-52-52") +7 (343) 252-52-52
      a.l-header_phone(href="tel:+7343-252-52-52") +7 (343) 252-52-52
