//- nav.jade
nav.l-nav
  .l-container
    ul.l-nav_menu
      li.l-nav_item
        a.l-nav_link(href="#") Главная
      li.l-nav_item
        a.l-nav_link(href="#") Каталог
      li.l-nav_item
        a.l-nav_link(href="#") Доставка и оплата
      li.l-nav_item
        a.l-nav_link(href="#") Прайс-лист
      li.l-nav_item
        a.l-nav_link(href="#") Контакты
