//- sidebarPrime.jade
aside.l-sidebarPrime
  h3.l-sidebarPrime_title Новости
  ul.l-sidebarPrime_list
    li.l-sidebarPrime_listItem
      em.l-sidebarPrime_date 14 сентября 2015 г.
      p.l-sidebarPrime_text Акция на входные двери Фалько!
    li.l-sidebarPrime_listItem
      em.l-sidebarPrime_date 14 сентября 2015 г.
      p.l-sidebarPrime_text Установка межкомнатных дверей в подарок при покупке 3-х полотен!
    li.l-sidebarPrime_listItem
      em.l-sidebarPrime_date 14 сентября 2015 г.
      p.l-sidebarPrime_text Новинка! Термо двери Форт!
    li.l-sidebarPrime_listItem
      em.l-sidebarPrime_date 14 сентября 2015 г.
      p.l-sidebarPrime_text Установка межкомнатных дверей в подарок при покупке 3-х полотен!
    li.l-sidebarPrime_listItem
      em.l-sidebarPrime_date 14 сентября 2015 г.
      p.l-sidebarPrime_text Новинка! Термо двери Форт!
  a.l-sidebarPrime_link(href="#") Архив акций
